name: NFL, update & export

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
  schedule:
    - cron: "30 23 * 9-12,1 0" # Runs 7:30pm EST / 11:30pm UTC every Sunday, but only during the months of September through January
  workflow_dispatch: # Allows manual triggering

jobs:
  run-notebooks:
    runs-on: ubuntu-latest

    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_SERVICE_ROLE: ${{ secrets.SUPABASE_SERVICE_ROLE }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install \
            pandas \
            python-dotenv \
            requests \
            pillow \
            numpy \
            scipy \
            espn-api

      - name: Push median script
        run: |
          python backend/median-np.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Automated median update"
          git push
        continue-on-error: true # Prevent failure if no changes
